:host {
  display: block;
}

.nav {
  border-right: 1px solid #ccc;
}

.main {
  background-color: #eee;
}

paper-toolbar {
  background-color: #42A5F5;
}

.content {
  padding: 0 16px;
}

paper-material {
  height: 115%;
  max-width: 99%;
  margin: 16px auto;
  background-color: #fff;
}

h1{
    margin-left:5%;
}

 .container {
     padding-top:5%;
     max-height: 80%;
     max-width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     background-color: #fff;     
}

paper-button{
    margin:10px;
    margin-left: 90%;
}